/*
This style sheet is for the admin cms. the login is handled by the admin_styles.scss
*/

@import "styles_conf";

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  min-height: 600px;
  font-family: Viking_shit_like;
  //width: 100vw; // with this, forces the scroll bar to the sides
  min-width: 800px;
  background-color: var(--main_color);
  color: var(--main_text_color);

  header {
	height: 40px;
	border-bottom: 1px solid var(--secondary_color);

	.admin__header {
	  height: 100%;
	  display: flex;
	  flex-direction: row;

	  .header__date {
		width: 16%;
		display: flex;
		flex-direction: column;

		span {
		  margin: auto;
		}

	  }

	  .header__userlogged {
		border-left: 1px solid var(--secondary_color);
		width: 76%;
		display: flex;
		flex-direction: row;

		span {
		  margin: auto 0 auto 15px;
		}

	  }

	  .header__logout {
		border-left: 1px solid var(--secondary_color);
		width: 8%;
		display: flex;
		flex-direction: column;
		cursor: pointer;

		span {
		  margin: auto;

		  a {
			text-decoration: none;
			color: var(--main_text_color);

			&:visited {
			  color: var(--main_text_color);
			}
		  }

		}

		&:hover {
		  background-color: rgb(32,32,32);
		}

	  }

	}

  }

  .admin__body {
	border-bottom: 1px solid var(--secondary_color);
	height: calc((100vh - 40px) - 20px);
	display: flex;
	flex-direction: row;
	min-height: 700px;

	.admin__sidebar {
	  border-right: 1px solid var(--secondary_color);
	  width: 16%;
	  display: flex;
	  flex-direction: column;

	  .sidebar__item {
		cursor: pointer;
		border-bottom: 1px solid var(--secondary_color);
		padding: 5% 0 5% 5%;
		width: 95%;
		height: 20px;

		&:hover {
		  background-color: rgb(32,32,32);
		}

		&:focus, &.selected {
		  background-color: rgb(64,64,64);
		}

	  }

	}

	.admin__content {
	  background-color: var(--admin_main_background);
	  width: 82%;
	  padding: 1%;
	  overflow: auto;

	  .admin__front-menu {

		.front-menu__content {

		}

	  }

	  .admin__gallery {

		.gallery__display-files {
		  .gallery_images__wrapper {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

			&::after {
			  content: '';
			  flex: auto;
			}

			/*
			 1/5  - 5 columns per row
			 10px - spacing between columns
		  	*/
			.uploaded_image {
			  margin: 10px 10px 0 0;
			  width: calc(1/5*100% - (1 - 1/5)*10px); // the 4 represents the number of columns
			  // the next 3 lines are to put the elements in the center of the row, comment them to see the effect
			  display: flex;
			  flex-direction: column;
			  justify-content: center;

			  &:first-child {
				//padding: 0 1vw 0 0;
			  }

			  &:last-child {
				//padding: 0 0 0 1vw;
			  }

			  &:not(:first-child):not(:last-child){
				//padding: 0 1vw 0 1vw;
			  }

			  /*
				align last row columns to the left
				4n - 4 columns per row
			  */
			  &:nth-child(5n){
				margin-right: 0;
			  }

			  /*
				remove top margin from first row
				-n+3 - 3 columns per row
			  */
			  &:nth-child(-n+5){
				margin-top: 0;
			  }

			  img {
				//width: 15vw;
				max-width: 100%;
				height: auto;
				max-height: 250px;
				object-fit: cover;
			  }

			}
		  }
		}

		.gallery__existing-files {

		  .uploaded_images__wrapper {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

			&::after {
			  content: '';
			  flex: auto;
			}

			/*
			 1/5  - 5 columns per row
			 10px - spacing between columns
		  	*/
			.uploaded_image {
			  margin: 10px 10px 0 0;
			  width: calc(1/5*100% - (1 - 1/5)*10px); // the 4 represents the number of columns
			  // the next 3 lines are to put the elements in the center of the row, comment them to see the effect
			  display: flex;
			  flex-direction: column;
			  justify-content: center;

			  &:first-child {
				//padding: 0 1vw 0 0;
			  }

			  &:last-child {
				//padding: 0 0 0 1vw;
			  }

			  &:not(:first-child):not(:last-child){
				//padding: 0 1vw 0 1vw;
			  }

			  /*
				align last row columns to the left
				4n - 4 columns per row
			  */
			  &:nth-child(5n){
				margin-right: 0;
			  }

			  /*
				remove top margin from first row
				-n+3 - 3 columns per row
			  */
			  &:nth-child(-n+5){
				margin-top: 0;
			  }

			  img {
				//width: 15vw;
				max-width: 100%;
				height: auto;
				max-height: 250px;
				object-fit: cover;
			  }

			}

		  }

		}

	  }

	  .admin__news {

		.news__articles {

		  .news__articles-reference {
			display: flex;
			flex-direction: row;
			margin-bottom: 1%;
			align-items: center;

			.color-ref {
			  display: flex;
			  flex-direction: row;
			  align-items: center;
			  justify-content: flex-start;
			  width: 125px;
			  margin-right: 1%;
			  margin-left: .5%;

			  .color-sample {
				//width: 20px;
				//height: 20px;
				//padding-right: 3%;
				padding-right: 20px;
				padding-top: 20px;

				&.enabled-news {
				  background-color: var(--enabled_section);
				}

				&.disabled-news {
				  background-color: var(--disabled_section);
				}

			  }

			  .color-meaning {
				width: 100%;
				padding-left: 3%;
			  }

			}

		  }

		  .news__articles-all {

			.news__wrapper {
			  margin-top: 3px;
			  padding: 5px;
			  &.enabled-news {
				background-color: var(--enabled_section);
			  }
			  &.disabled-news {
				background-color: var(--disabled_section);
			  }
			  //&:nth-child(odd) {
				//background-color: var(--list_items_color1);
			  //}
			  //&:nth-child(even) {
				//background-color: var(--list_items_color2);
			  //}
			  .news__header {
				width: 100%;

				.news__header-firstline {
				  display: flex;
				  flex-direction: row;
				  align-content: stretch;
				  .news__date {
					flex-basis: 15%;
				  }

				  .news__title {
					flex-basis: 30%;
				  }

				  .news__visibility {
					flex-grow: 1;
					flex-basis: 55%;
					display: flex;
					justify-content: flex-end;

					input {
					  align-self: flex-end;
					}
				  }
				}
			  }
			}

		  }

		}

		.news__form {

		  .news__form-row {
			display: flex;
			flex-direction: row;
			margin-bottom: 1%;
			margin-top: 1%;

			textarea {
			  resize: none;
			}

			.news__form-submit {
			  margin-left: 50px;
			}

		  }

		  .news__form-label {
			width: 50px;
		  }

		}

	  }

	  .admin__rankings {

		.tabs {
		  height:45px;
		  padding: 0 0 0 0;
		  overflow:visible;
		}

		.tab {
		  width:200px;
		  height:45px;
		  overflow:hidden;
		  float:left;
		  margin:0 -15px 0 0;

		  &.active {
			z-index:40;
			position:relative;
			padding-bottom:1px;

			.tab-box {
			  background-color: #a5a5a5; /* this color is --admin_main_background */
			  box-shadow: 0 0 2px 0 #fff inset;
			}

		  }

		}

		.tab-box {
		  height:50px;
		  background: var(--secondary_color);
		  border-radius: 4px;
		  margin:0 10px 0;
		  box-shadow: 0 0 2px  #fff inset;
		  -webkit-transform: perspective(100px) rotateX(30deg);
		  -moz-transform: perspective(100px) rotateX(30deg);
		  cursor: pointer;
		}

		.tab-title {
		  position: relative;
		  width: 65px;
		  top: 33%;
		  left: 31%;
		  text-align: center;
		}

		.tab-content {
		  z-index:1;
		  padding-top:10px;
		  border-top:1px solid #ccc;
		  position:relative;
		  display: none;

		  .subcontent {

			&.create {

			  form {
				width: 30%;
				padding: 2%;
				border: 1px solid var(--fifth_color);
				border-radius: 3px;
				background-color: var(--fourth_color);

				.form-line {
				  margin-bottom: 2%;
				}

				input[type="submit"] {
				  margin-top: 5%;
				}

			  }

			}

			&.edit {

			  form {
				width: 85%;
				padding: 2%;
				border: 1px solid var(--fifth_color);
				border-radius: 3px;
				background-color: var(--fourth_color);

				.form-line {
				  margin-bottom: 2%;

				  .ranking-players {
					margin-top: 10px;

					.display-name {
					  color: var(--main_color);
					}

					.details {
					  margin-bottom: 10px;
					  display: flex;
					  align-items: center;
					  height: 60px;

					  .hide-detail {
						visibility: hidden;
						opacity: 0;
						transition: visibility 2s linear 300ms, opacity 300ms;
					  }

					  .show-detail {
						visibility: visible;
						opacity: 1;
						transition: visibility 2s linear 0s, opacity 300ms;
					  }

					  select {
						margin-right: 15px;
						margin-left: 5px;
					  }

					  input {
						margin-right: 10px;
					  }

					  .user-display {
						width: 15%;
					  }

					}

				  }

				}

				input[type="submit"] {
				  margin-top: 5%;
				}

			  }

			  .existing-ranks {
				width: 100%;

				.ranking-wrapper {
				  //width: 100%;
				  display: flex;
				  //flex: 0 0 100%;
				  align-content: stretch;
				  flex-direction: row;
				  align-items: center;

				  &.head {
					text-align: center;
				  }

				  &.item {
					cursor: pointer;
					height: 25px;

					&.active {
					  background-color: var(--enabled_section);

					  &:hover {
						background-color: var(--enabled_section_highlight);
					  }

					}

					&.inactive {
					  background-color: var(--disabled_section);

					  &:hover {
						background-color: var(--disabled_section_highlight);
					  }

					}

				  }

				  .rank-title {
					flex-basis: 30%;
				  }

				  .rank-tops {
					flex-basis: 10%;

					&.item {
					  text-align: center;
					}

				  }

				  .rank-start {
					flex-basis: 15%;
				  }

				  .rank-end {
					flex-basis: 15%;
				  }

				  .rank-author {
					flex-basis: 10%;
				  }

				  .rank-status {
					flex-basis: 10%;

					&.item {
					  text-align: center;
					}

				  }

				  .rank-actions {
					flex-basis: 10%;
					display: flex;
					flex-direction: row;
					justify-content: space-evenly;

					&.item {
					  text-align: center;

					  .status-modifier {
						border-radius: 3px;
						color: white;
						width: 50%;

						&.active {
						  background: var(--enabled_section);
						  border: 1px solid var(--enabled_section);

						  &:hover {
							background-color: var(--enabled_section_highlight);
						  }

						}

						&.inactive {
						  background: var(--disabled_section);
						  border: 1px solid var(--disabled_section);

						  &:hover {
							background-color: var(--disabled_section_highlight);
						  }

						}

					  }

					  .rank-delete {
						//border: 1px solid white;
						color: white;
						border-radius: 3px;
						width: 45%;
						background-color: var(--disabled_section);
						border: 1px solid var(--disabled_section_highlight);

						&:hover {
						  //color: white;
						  background-color: var(--disabled_section_highlight);
						  border: 1px solid var(--disabled_section);
						}

					  }

					}

				  }

				}

			  }

			}

		  }

		  &.active {
			display: block;
		  }

		}

	  }

	  .admin__upload {

		.upload__existing-files {

		  .uploaded_images__wrapper {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

			&::after {
			  content: '';
			  flex: auto;
			}

			/*
			 1/5  - 5 columns per row
			 10px - spacing between columns
		  	*/
			.uploaded_image {
			  margin: 10px 10px 0 0;
			  width: calc(1/5*100% - (1 - 1/5)*10px); // the 4 represents the number of columns
			  // the next 3 lines are to put the elements in the center of the row, comment them to see the effect
			  display: flex;
			  flex-direction: column;
			  justify-content: center;

			  &:first-child {
				//padding: 0 1vw 0 0;
			  }

			  &:last-child {
				//padding: 0 0 0 1vw;
			  }

			  &:not(:first-child):not(:last-child){
				//padding: 0 1vw 0 1vw;
			  }

			  /*
				align last row columns to the left
				4n - 4 columns per row
			  */
			  &:nth-child(5n){
				margin-right: 0;
			  }

			  /*
				remove top margin from first row
				-n+3 - 3 columns per row
			  */
			  &:nth-child(-n+5){
				margin-top: 0;
			  }

			  .image_actions {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-bottom: 3px;

				.actions_button {
				  cursor: pointer;
				  text-align: center;
				  padding: 2px 5px;
				  border: 1px solid var(--main_text_color);
				  background: var(--secondary_color);

				  &.published {
					background: var(--enabled_section);

					&:hover {
					  background: var(--enabled_section_highlight);
					}

				  }

				  &.unpublished, &.delete {
					background: var(--disabled_section);

					&:hover {
					  background: var(--disabled_section_highlight);
					}
				  }

				  &:hover {
					background: #1f1d1d;
				  }
				}
			  }

			  img {
				//width: 15vw;
				max-width: 100%;
				height: auto;
				max-height: 250px;
				object-fit: cover;
			  }

			  .image_name {
				margin-top: 3px;
			  }

			}

		  }

		}

	  }

	  .admin__users {

		.tabs {
		  height:45px;
		  padding: 0 0 0 0;
		  overflow:visible;
		}

		.tab {
		  width:200px;
		  height:45px;
		  overflow:hidden;
		  float:left;
		  margin:0 -15px 0 0;

		  &.active {
			z-index:40;
			position:relative;
			padding-bottom:1px;

			.tab-box {
			  background-color: #a5a5a5; /* this color is --admin_main_background */
			  box-shadow: 0 0 2px 0 #fff inset;
			}

		  }

		}

		.tab-box {
		  height:50px;
		  background: var(--secondary_color);
		  border-radius: 4px;
		  margin:0 10px 0;
		  box-shadow: 0 0 2px  #fff inset;
		  -webkit-transform: perspective(100px) rotateX(30deg);
		  -moz-transform: perspective(100px) rotateX(30deg);
		  cursor: pointer;
		}

		.tab-title {
		  position: relative;
		  width: 65px;
		  top: 33%;
		  left: 31%;
		  text-align: center;
		}

		.tab-content {
		  z-index:1;
		  padding-top:10px;
		  border-top:1px solid #ccc;
		  position:relative;
		  display: none;

		  .subcontent {

			&.create {

			  form {
				width: 30%;
				padding: 2%;
				border: 1px solid var(--fifth_color);
				border-radius: 3px;
				background-color: var(--fourth_color);

				.form-line {
				  margin-bottom: 2%;
				}

				input[type="submit"] {
				  margin-top: 5%;
				}

			  }

			  .create-user-server-response {
				height: 30px;
			  }

			}

			&.edit {

			  form {
				width: 60%;
				padding: 2%;
				border: 1px solid var(--fifth_color);
				border-radius: 3px;
				background-color: var(--fourth_color);

				.form-line {
				  margin-bottom: 2%;

				  .ranking-players {
					margin-top: 10px;

					.details {
					  margin-bottom: 10px;

					  input {
						margin-right: 10px;
					  }
					}
				  }
				}

				input[type="submit"] {
				  margin-top: 5%;
				}

			  }

			  .existing-ranks {
				width: 100%;

				.ranking-wrapper {
				  //width: 100%;
				  display: flex;
				  //flex: 0 0 100%;
				  align-content: stretch;
				  flex-direction: row;
				  align-items: center;

				  &.head {
					text-align: center;
				  }

				  &.item {
					cursor: pointer;
					height: 25px;

					&.active {
					  background-color: var(--enabled_section);

					  &:hover {
						background-color: var(--enabled_section_highlight);
					  }

					}

					&.inactive {
					  background-color: var(--disabled_section);

					  &:hover {
						background-color: var(--disabled_section_highlight);
					  }

					}

				  }

				  .rank-title {
					flex-basis: 30%;
				  }

				  .rank-tops {
					flex-basis: 10%;

					&.item {
					  text-align: center;
					}

				  }

				  .rank-start {
					flex-basis: 15%;
				  }

				  .rank-end {
					flex-basis: 15%;
				  }

				  .rank-author {
					flex-basis: 10%;
				  }

				  .rank-status {
					flex-basis: 10%;

					&.item {
					  text-align: center;
					}

				  }

				  .rank-actions {
					flex-basis: 10%;
					display: flex;
					flex-direction: row;
					justify-content: space-evenly;

					&.item {
					  text-align: center;

					  .status-modifier {
						border-radius: 3px;
						color: white;
						width: 50%;

						&.active {
						  background: var(--enabled_section);
						  border: 1px solid var(--enabled_section);

						  &:hover {
							background-color: var(--enabled_section_highlight);
						  }

						}

						&.inactive {
						  background: var(--disabled_section);
						  border: 1px solid var(--disabled_section);

						  &:hover {
							background-color: var(--disabled_section_highlight);
						  }

						}

					  }

					  .rank-delete {
						//border: 1px solid white;
						color: white;
						border-radius: 3px;
						width: 45%;
						background-color: var(--disabled_section);
						border: 1px solid var(--disabled_section_highlight);

						&:hover {
						  //color: white;
						  background-color: var(--disabled_section_highlight);
						  border: 1px solid var(--disabled_section);
						}

					  }

					}

				  }

				}

			  }

			}

		  }

		  .existing-users {

			&.listing {

			  .users-wrapper {
				display: flex;
				flex-direction: row;

				&:nth-child(odd){
				  background-color: var(--list_items_color1);
				}

				&:nth-child(even){
				  background-color: var(--list_items_color2);
				}

				.user-index {
				  flex-basis: 3%;

				  &.head {

				  }

				  &.item {

				  }
				}

				.user-name {
				  flex-basis: 20%;
				  &.head {

				  }

				  &.item {

				  }
				}

				.user-lastname {
				  flex-basis: 30%;
				  &.head {

				  }

				  &.item {

				  }
				}
				.user-nickname {
				  flex-basis: 20%;
				  &.head {

				  }

				  &.item {

				  }
				}

			  }
			}

			&.edit {

			  .users-wrapper {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				&:nth-child(odd){
				  background-color: var(--list_items_color1);
				}

				&:nth-child(even){
				  background-color: var(--list_items_color2);
				}

				&.head {
				  text-align: center;

				  .user-index {
					flex-basis: 3%;
				  }

				  .user-name {
					flex-basis: 35%;
				  }

				  .user-lastname {
					flex-basis: 35%;
				  }

				  .user-nickname {
					flex-basis: 20%;
				  }

				  .user-actions {
					flex-basis: 7%;
				  }

			  	}

				&.item {

				  .user-index {
					flex-basis: 3%;
					display: flex;
					justify-content: center;
				  }

				  .user-name {
					flex-basis: 35%;
				  }

				  .user-lastname {
					flex-basis: 35%;
				  }

				  .user-nickname {
					flex-basis: 20%;
				  }

				  .user-actions {
					flex-basis: 7%;
					display: flex;
					justify-content: center;
				  }

				}

			  }

			}

		  }

		  &.active {
			display: block;
		  }

		}

	  }

	  .section_status {
		&.disabled {
		  pointer-events: none;
		  filter: blur(1px);
		  -webkit-filter: blur(1.5px);
		  -moz-filter: blur(1.5px);
		  -o-filter: blur(1.5px);
		  -ms-filter: blur(1.5px);
		}
	  }

	  .admin__button {
		border: 1px solid var(--secondary_text_color);
		background-color: var(--secondary_color);
		color: var(--main_text_color);
		border-radius: 5px;
		padding: 8px;
		&:hover {
		  background-color: var(--third_color);
		}
	  }
	}

  }

  .admin__footer {
	height: 20px;
	//background-color: green;
	display: flex;
	flex-direction: column;
  }

  #ui-datepicker-div {
	display: none;
  }

}
