:root{
  --main_text_color: #FFFFFF;
  --secondary_text_color: rgb(184,180,181);
  --main_color: #000000;
  --secondary_color: rgb(128,128,128);
  --third_color: rgb(46, 64, 83 );
  --fourth_color: rgb(110, 110, 110);
  --fifth_color: rgb(90,90,90);
  --alert_color: rgb(192, 57, 43 );
  --font_size_huge: 100px;
  --font_size_huge_320: 52px;
  --font_size_big: 50px;
  --font_size_big_320: 30px;
  --font_size_normal: 25px;
  --font_size_normal_320 : 18px;
  --font_size_small: 10px;
  --font_size_small_320: 8px;
  --list_items_color1: rgb(97, 106, 107);
  --list_items_color2: rgb(112, 123, 124);
  --list_items_color3: rgb(127, 140, 141 );
  --enabled_section: rgb(29, 131, 72 );
  --enabled_section_highlight: rgb(0, 255, 0);
  --disabled_section: rgb(148, 49, 38);
  --disabled_section_highlight: rgb(255, 0, 0);
  --admin_main_background: #a5a5a5;
}

@font-face {
  font-family: "Viking_shit_like";
  src: url('../fonts/MasonSerifBold.ttf');
}
